/*
Contains layout specific styles.
Minified and given to users upon project export.
*/

.el {
    border: 1px solid red;
    min-height:5em;
  }

.row{
    display: grid;
    grid-gap: 1em;
    margin-bottom:1em;  
    grid-auto-rows: min-content;
}

/* =================================================== */
/* PREFAB 1 */
/* =================================================== */
.prefab1{
  grid-template-columns: auto repeat(2, minmax(auto, 200px)) auto;
  grid-template-areas:
  ". pf1_el1 pf1_el1 ."
  ". pf1_el2 pf1_el2 ."
  ". pf1_el3 pf1_el4 .";
}
  
  @media (min-width: 400px) {
    .prefab1 {
      grid-template-columns: auto repeat(3, minmax(auto, 200px)) auto;
      grid-template-areas:
        ". pf1_el1 pf1_el1 pf1_el1 ."
        ". pf1_el2 pf1_el3 pf1_el4 .";
    }
  }
  
  @media (min-width: 700px) {
    .prefab1 {
      grid-template-columns: auto repeat(6, minmax(auto, 200px)) auto;
      grid-template-areas:
        ". pf1_el1 pf1_el1 pf1_el1 pf1_el1 pf1_el2 pf1_el2 ."
        ". pf1_el3 pf1_el3 pf1_el3 pf1_el4 pf1_el4 pf1_el4 .";
    }
  }

  [data-block="pf1_el1"] {
    grid-area: pf1_el1;
  }
  [data-block="pf1_el2"] {
    grid-area: pf1_el2;
  }
  [data-block="pf1_el3"] {
    grid-area: pf1_el3;
  }
  [data-block="pf1_el4"] {
    grid-area: pf1_el4;
  }