*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:100%;
}

/* ================================================ */
/* Typography */
/* ================================================ */

h1.title{
    font-size: 0.9em;
    font-weight:normal;
    padding: 0.4em 1em;
    margin: 0;
}

/* ================================================ */
/* Layout */
/* ================================================ */

header{
    background:#55cdff;
    display: flex;
    justify-content: space-between;
}


.menu{
    height:200px;
    width:100%;
    position: fixed;
    bottom:0;
    background:#f1f1f1;
    transition: bottom 0.3s;
}

.menu.minimize{
    bottom:-172px;
}

.cards{
    width: calc(100% - 2em);
    height: 130px;
    border: 1px solid blue;
    margin: 1em;
    overflow-x: scroll;
    display: flex;
}

.card-actor{
    height: 50px;
    background: red;
    margin-left: 1em;
    flex: 0 0 200px;
}

.el{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    position: relative;
}

.row:hover{
    background:orange;
}

.deleteBtn{
    display:none;
    position: absolute;
    width: 140px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 70px);
}

.row:hover .deleteBtn{
    display:block;
}